@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLoginAndRegister";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
</head>
<body>
    <script>
    function showProf() {
        document.getElementById("btn_stud").style.backgroundColor = "aliceblue";
        document.getElementById("btn_prf").style.backgroundColor = "cadetblue";
        document.getElementById("login_std").hidden=true;
        document.getElementById("login_prf").hidden=false;
    }

    function showStud() {
        document.getElementById("btn_prf").style.backgroundColor = "aliceblue";
        document.getElementById("btn_stud").style.backgroundColor = "cadetblue";
        document.getElementById("login_prf").hidden = true;
        document.getElementById("login_std").hidden = false;
    }
    </script>
    <div>
        <h2>@ViewData["Title"]</h2>
    </div>
<hr/>
<div>
    <div>
        <button class="btn btn-default" onclick="showStud()" id="btn_stud">
            Student
        </button>
    </div>
    <div id="login_std" hidden="true">
        <form>
            <div>
                <label for="email">Email</label>
            </div>
            <div>
                <input type="text" id="email" name="email">
            </div>
            <div>
                <label for="password">Password</label>
            </div>
            <div>
                <input type="password" id="password" name="password">
            </div>
        </form>
        <div>
            <button class="btn btn-default">Login</button>
        </div>
        <div>
            <a href="/Account/RegisterStud">Inregistreaza-te</a>
        </div>
        <div>
            <a href="/Account/ForgotPassword">Ai uitat parola?</a>
        </div>
    </div>
    <div >
        <button class="btn btn-default" onclick="showProf()" id="btn_prf">
            Profesor
        </button>
    </div>
    <div id="login_prf" hidden="true">
        <form>
            <div>
                <label for="email">Email</label>
            </div>
            <div>
                <input type="text" id="email" name="email">
            </div>
            <div>
                <label for="password">Password</label>
            </div>
            <div>
                <input type="password" id="password" name="password">
            </div>
        </form>
        <div>
            <button class="btn btn-default">Login</button>
        </div>
        <div>
            <a href="/Account/RegisterProf">Inregistreaza-te</a>
        </div>
        <div>
            <a href="/Account/ForgotPassword">Ai uitat parola?</a>
        </div>
    </div>
</div>
    <hr/>
<div >
    <form action="/Account/LoginStudent">
        <div>
            <button class="btn btn-default" type="submit">Student Login</button>
        </div>
    </form>

    <form action="/Account/LoginProfessor">
        <div>
            <button class="btn btn-default" type="submit">Profesor Login</button>
        </div>
    </form>

</div>

</body>
</html>

