@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLoginAndRegister";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPage</title>
</head>
<body>

    <div>
        <p>
            Bun Venit! UAIC manager licenta.
        </p>
    </div>
    <hr />
    <div>
        <form action="/Account/Login">
            <div>
                <button class="btn btn-default" type="submit">Login</button>
            </div>
        </form>
    </div>

</body>
</html>

